/* BASIC STYLING TOOLS

PRIMARY:-
Background-color-main: ;
Background-color-light: ;
Color-main: ;
Color-light: ;

Font-size-main: ;
Font-size-big: ;
Font-weight-main: ;
Font-weight-big: ;

SECONDARY:-
Background-color-main: ;
Background-color-light: ;
Color-main: ;
Color-light: ;

Font-size-main: ;
Font-size-big: ;
Font-weight-main: ;
Font-weight-big: ;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  padding: 10px 50px;
  border-bottom: 1px solid #239cd0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  border: 1px solid #239cd0;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}

.logo:hover,
.logo:active {
  opacity: 0.8;
  transform: scale(0.96);
  box-shadow: 1px 1px 4px #239cd0;
}

.logo img {
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.hamburger-check {
  display: none;
}

.link-list {
  display: flex;
  gap: 30px;
}

.link-list li {
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1px;
  transition: 0.4s;
}

.link-list li:hover,
.link-list li:active {
  transform: scale(0.96);
}

.link-list li a {
  color: #239cd0;
  cursor: pointer;
}

.link-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #d3d3d3;
  color: #58a435;
  box-shadow: 0 1px 6px darkblue;
  cursor: pointer;
  transition: 0.4s;
}

.link-btn:hover,
.link-btn:active {
  color: #1b1b1b;
  box-shadow: 0 1px 6px #58a435;
}

.header-hamburger {
  display: none;
}

@media (max-width: 820px) {
  header {
    padding: 10px 20px;
  }

  nav {
    gap: 15px;
  }

  .link-list {
    gap: 15px;
  }

  .link-list li {
    font-size: 0.8rem;
    letter-spacing: 0;
  }

  .link-btn {
    padding: 5px 10px;
    font-size: 0.75rem;
  }
}

@media (max-width: 520px) {
  .hamburger-check {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    opacity: 0;
    z-index: 50;
  }

  .link-list {
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: rgba(27, 27, 27, 0.2);
    transition: 0.5s;
  }

  #hamburger-check:checked ~ .link-list {
    left: 0;
  }

  .link-list li {
    font-size: 0.95rem;
    letter-spacing: 1px;
    line-height: 2rem;
  }

  .link-list li:hover,
  .link-list li:active {
    background-color: #239cd0;
    border-bottom: 1px solid #1b1b1b;
  }

  .link-list li a {
    padding: 0 20px;
  }

  .link-list li:hover > a,
  .link-list li:active > a {
    color: #1b1b1b;
  }

  .header-hamburger {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #239cd0;
    border-radius: 5px;
    box-shadow: 0 1px 3px #1b1b1b;
    background-color: #d3d3d3;
    transition: 0.4s;
  }

  #hamburger-check:checked ~ .header-hamburger {
    background-color: rgba(35, 156, 208, 0.6);
  }

  .hamburger-bar,
  .hamburger-bar::before,
  .hamburger-bar::after {
    width: 30px;
    height: 4px;
    margin: auto;
    background-color: #239cd0;
    border-radius: 2px;
    transition: 0.4s;
  }

  #hamburger-check:checked ~ .header-hamburger > .hamburger-bar {
    background-color: transparent;
  }

  .hamburger-bar::before,
  .hamburger-bar::after {
    content: "";
    position: absolute;
  }

  .hamburger-bar::before {
    top: 8px;
    transform: translateY(0) rotate(0deg);
  }

  #hamburger-check:checked ~ .header-hamburger > .hamburger-bar::before {
    transform: translateY(9px) rotate(-45deg);
    background-color: rgba(27, 27, 27, 0.6);
  }

  .hamburger-bar::after {
    bottom: 8px;
    transform: translateY(0) rotate(0deg);
  }

  #hamburger-check:checked ~ .header-hamburger > .hamburger-bar::after {
    transform: translateY(-9px) rotate(45deg);
    background-color: rgba(27, 27, 27, 0.6);
  }
}
