/* BASIC STYLING TOOLS

PRIMARY:-
Background-color-main: ;
Background-color-light: ;
Color-main: ;
Color-light: ;

Font-size-main: ;
Font-size-big: ;
Font-weight-main: ;
Font-weight-big: ;

SECONDARY:-
Background-color-main: ;
Background-color-light: ;
Color-main: ;
Color-light: ;

Font-size-main: ;
Font-size-big: ;
Font-weight-main: ;
Font-weight-big: ;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  padding: 10px 50px;
  border-bottom: 1px solid #3f91d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  border: 1px solid #239cd0;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}

.logo:hover,
.logo:active {
  opacity: 0.8;
  transform: scale(0.96);
  box-shadow: 1px 1px 4px #239cd0;
}

.logo img {
  height: 50px;
}
