/* BASIC STYLING TOOLS

PRIMARY:-
color-main: #239cd0;
color-light: ;

Font-size-main: ;
Font-size-big: ;
Font-weight-main: ;
Font-weight-big: ;

SECONDARY:-
Color-main: #d3d3d3;
Color-light: ;

Font-size-main: ;
Font-size-big: ;
Font-weight-main: ;
Font-weight-big: ;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* THIS PART IS FOR THE HEADER */

header {
  width: 100%;
  padding: 10px 50px;
  background-color: #fff;
  border-bottom: 1px solid #239cd0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
}

/* The Header Logo */
.logo {
  border: 1px solid #239cd0;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}

.logo:hover,
.logo:active {
  opacity: 0.8;
  transform: scale(0.96);
  box-shadow: 1px 1px 4px #239cd0;
}

.logo img {
  height: 50px;
}

/* This Is For The Header Navbar */
nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.hamburger-check {
  display: none;
}

/* The Navbar Link List */
.link-list {
  display: flex;
  gap: 30px;
}

.link-list li {
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1px;
  transition: 0.4s;
}

.link-list li:hover,
.link-list li:active {
  transform: scale(0.96);
}

.link-list li a {
  color: #239cd0;
  cursor: pointer;
}

.link-list li a span {
  text-transform: lowercase;
}

/* The Navbar Link Button */
.link-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #d3d3d3;
  color: #58a435;
  box-shadow: 0 1px 6px darkblue;
  cursor: pointer;
  transition: 0.4s;
}

.link-btn:hover,
.link-btn:active {
  color: #1b1b1b;
  box-shadow: 0 1px 6px #58a435;
}

.header-hamburger {
  display: none;
}

/* THIS PART IS FOR THE MAIN */

main {
  margin-top: 70px;
  padding: 0 20px;
}

/* This Is For The Main Hero */
.hero {
  background-color: #239cd0;
  min-height: calc(100vh - 70px);
  padding: 30px;
}

.hero h1,
.hero > p {
  text-align: center;
}

.hero h1 {
  font-size: 2.1rem;
  color: #d9eaf9;
  text-shadow: 0 1px 2px #1b1b1b;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 5px;
}

.hero > p {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 30px;
}

/* The Hero Templates Container */
.templates-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* The Hero Template */
.template {
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 300px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 1px 6px #1b1b1b;
  transition: 0.4s;
}

.template:hover,
.template:active {
  box-shadow: 0 2px 2px #58a435;
}

.template h4,
.template p {
  margin-bottom: 10px;
}

.template p {
  font-size: 0.95rem;
}

.template a {
  display: inline-block;
  background-color: #58a435;
  color: #d9eaf9;
  padding: 5px 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 0 1px 4px #1b1b1b;
  transition: 0.4s;
}

.template a:hover,
.template a:active {
  color: #d3d3d3;
  box-shadow: 0 1px 2px #1b1b1b;
}

/* This Is For The Main About */
.section-container {
  margin: auto;
  padding-top: 80px;
  border: 1px solid #239cd0;
  overflow-x: hidden;
}

.section-heading {
  background-color: #239cd0;
  color: #d9eaf9;
  font-size: 2.5rem;
  text-align: center;
  line-height: 5rem;
}

.sub-heading {
  padding: 30px;
  font-size: 2.5rem;
  font-weight: 600;
  color: #239cd0;
  text-align: center;
}

/* The About Article */
.about-article {
  padding: 0 40px 30px;
}

.about-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about-font {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.about-spacing {
  margin-bottom: 30px;
}

.about-article p span {
  font-weight: 600;
}

.about-article h4 {
  margin-bottom: 20px;
}

.about-image {
  width: 45%;
  border-radius: 10px;
}

/* The About Info */
.about-info {
  background-color: #d3d3d3;
  padding: 40px;
}

.about-info-container ul {
  padding-left: 20px;
}

.about-info-container ul li {
  list-style-type: disc;
}

.about-info-container ul li span {
  font-weight: 600;
}

/* This Is For The Main FAQs */
.faqs {
  background-color: #d3d3d3;
}

.faqs ul {
  padding: 40px 70px 20px;
}

.faqs ul li {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s;
}

.faqs ul li:hover,
.faqs ul li:active {
  color: #58a435;
}

.faqs ul li span {
  display: inline-block;
  font-size: 1.5rem;
}

/* This Is For The Main Contact */
.contact {
  padding: 80px 50px 50px;
  background-color: #239cd0;
  color: #d9eaf9;
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.contact > div {
  width: 200px;
  margin-bottom: 20px;
}

.contact-logo h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.contact-logo h4 img {
  height: 2rem;
  border-radius: 3px;
}

.contact-logo p {
  font-weight: 500;
  letter-spacing: -1px;
}

/* The Contact Social Link */
.social-link li {
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.social-link li a {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}

.social-link li a:hover,
.social-link li a:active {
  color: #58a435;
}

.social-link li a span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #d9eaf9;
  border-radius: 50%;
  transition: 0.4s;
}

.social-link li a:hover > span,
.social-link li a:active > span {
  border: 1px solid #58a435;
}

.social-link ul li a span img {
  height: 20px;
}

.social-link li a:hover > span > img,
.social-link li a:active > span > img {
  background-color: #58a435;
}

/* The Contact Main Contact */
.contact-heading {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.main-contact a {
  display: block;
  color: #d9eaf9;
  margin-bottom: 5px;
  transition: 0.4s;
}

.main-contact a:hover,
.main-contact a:active {
  color: #58a435;
}

.contact-login a {
  color: #d9eaf9;
  transition: 0.4s;
}

.contact-login a:hover,
.contact-login a:active {
  color: #58a435;
}

/* The Contact Subscription */
.subscription p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.subscribe-box {
  border: 2px solid #d9eaf9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  overflow: hidden;
}

.subscribe-box span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
}

.span-white {
  background-color: #d9eaf9;
  color: #1b1b1b;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}

.span-white:hover,
.span-white:active {
  background-color: #58a435;
  color: #d9eaf9;
}

/* THIS PART IS FOR THE FOOTER */

footer {
  background-color: #1b1b1b;
}

footer p {
  color: #d9eaf9;
  font-size: 0.85rem;
  text-align: center;
  line-height: 4rem;
}

footer p a {
  color: inherit;
  cursor: pointer;
  transition: 0.4s;
}

footer p a:hover,
footer p a:active {
  color: #58a435;
}

/* THIS PART IS FOR MEDIA QUERIES */
/* Media Of 820px Max Width */
@media (max-width: 820px) {
  header {
    padding: 10px 20px;
  }

  nav {
    gap: 15px;
  }

  .link-list {
    gap: 15px;
  }

  .link-list li {
    font-size: 0.8rem;
    letter-spacing: 0;
  }

  .link-btn {
    padding: 5px 10px;
    font-size: 0.75rem;
  }

  .hero h1 {
    font-size: 1.6rem;
  }

  .hero > p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .template {
    padding: 10px;
    max-width: 230px;
  }

  .template p {
    font-size: 0.85rem;
  }

  .about {
    margin: 40px auto;
  }

  .section-heading {
    font-size: 1.8rem;
    line-height: 4rem;
  }

  .sub-heading {
    font-size: 1.7rem;
  }

  .about-article {
    padding: 0 60px 30px;
  }

  .about-flex {
    flex-direction: column;
    gap: 20px;
  }

  .about-font {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .about-spacing {
    margin-bottom: 20px;
  }

  .about-article h4 {
    margin-bottom: 10px;
  }

  .about-image {
    width: 70%;
  }

  .about-info {
    padding: 10px 40px 40px;
  }

  .about-info-container ul {
    padding-left: 10px;
  }

  .faqs ul {
    padding: 30px 30px 10px;
  }

  .faqs ul li {
    font-size: 0.85rem;
    line-height: 1.3rem;
  }

  .faqs ul li span {
    font-size: 1.3rem;
  }
}

/* Media of 520px Max Width */
@media (max-width: 520px) {
  .hamburger-check {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    opacity: 0;
    z-index: 50;
  }

  .link-list {
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: rgba(27, 27, 27, 0.8);
    transition: 0.5s;
  }

  #hamburger-check:checked ~ .link-list {
    left: 0;
  }

  .link-list li {
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 2rem;
    border-bottom: 1px solid #239cd0;
  }

  .link-list li:hover,
  .link-list li:active {
    background-color: #239cd0;
    border-bottom: 1px solid #1b1b1b;
  }

  .link-list li a {
    padding: 0 20px;
  }

  .link-list li:hover > a,
  .link-list li:active > a {
    color: #1b1b1b;
  }

  .header-hamburger {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #239cd0;
    border-radius: 5px;
    box-shadow: 0 1px 3px #1b1b1b;
    background-color: #d3d3d3;
    transition: 0.4s;
  }

  #hamburger-check:checked ~ .header-hamburger {
    background-color: rgba(35, 156, 208, 0.6);
  }

  .hamburger-bar,
  .hamburger-bar::before,
  .hamburger-bar::after {
    width: 30px;
    height: 4px;
    margin: auto;
    background-color: #239cd0;
    border-radius: 2px;
    transition: 0.4s;
  }

  #hamburger-check:checked ~ .header-hamburger > .hamburger-bar {
    background-color: transparent;
  }

  .hamburger-bar::before,
  .hamburger-bar::after {
    content: "";
    position: absolute;
  }

  .hamburger-bar::before {
    top: 8px;
    transform: translateY(0) rotate(0deg);
  }

  #hamburger-check:checked ~ .header-hamburger > .hamburger-bar::before {
    transform: translateY(9px) rotate(-45deg);
    background-color: rgba(27, 27, 27, 0.6);
  }

  .hamburger-bar::after {
    bottom: 8px;
    transform: translateY(0) rotate(0deg);
  }

  #hamburger-check:checked ~ .header-hamburger > .hamburger-bar::after {
    transform: translateY(-9px) rotate(45deg);
    background-color: rgba(27, 27, 27, 0.6);
  }

  main {
    padding: 0 10px;
  }

  .hero {
    padding: 20px;
  }

  .hero h1 {
    font-size: 1rem;
    letter-spacing: -1px;
  }

  .hero > p {
    font-size: 0.88rem;
  }

  .template {
    margin-bottom: 20px;
    max-width: 90%;
  }

  .template h4,
  .template p {
    margin-bottom: 6px;
  }

  .template h4 {
    font-size: 0.95rem;
  }

  .template a {
    font-size: 0.88rem;
  }

  .section-heading {
    font-size: 1.2rem;
    line-height: 3rem;
  }

  .sub-heading {
    padding: 10px;
    font-size: 1.1rem;
  }

  .about-article {
    padding: 0 30px 20px;
  }

  .about-flex {
    gap: 10px;
  }

  .about-font {
    font-size: 0.85rem;
    line-height: 1rem;
  }

  .about-spacing {
    margin-bottom: 15px;
  }

  .about-article h4 {
    margin-bottom: 7px;
  }

  .about-image {
    width: 90%;
    border-radius: 10px;
  }

  .faqs ul {
    padding: 25px 15px 10px;
  }

  .faqs ul li {
    font-size: 0.75rem;
    line-height: 1.1rem;
    margin-bottom: 15px;
    gap: 20px;
  }

  .faqs ul li span {
    font-size: 1.1rem;
  }

  .contact-logo h4 {
    font-size: 1.5rem;
    letter-spacing: -1px;
    margin-bottom: 10px;
  }

  .social-link li {
    margin-bottom: 10px;
    font-size: 0.85rem;
  }

  .social-link li a span {
    height: 30px;
    width: 30px;
  }

  .social-link ul li a span img {
    height: 18px;
  }

  .contact-heading {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .subscription p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
}
